body{
    background: radial-gradient(600px at 50% 50% , rgb(26, 24, 24) 30%, rgb(8, 0, 0) 150%);
        width: 100%;
        height: 100%;
        margin: 0;
      }


@font-face {
    font-family: PlanewalkerBold;
    src: url(Planewalker\ Bold.otf);
    /*font-family: ;
    src: url();*/
}

@keyframes float{
    from{
        margin-bottom: 2rem;
    }
    to{
        margin-bottom: 1rem;
    }
}

@keyframes glow {
    from {
      text-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #808080,
        0 0 40px #808080,
        0 0 50px #808080,
        0 0 60px #000,
        0 0 70px #000;
    }
    to {
        text-shadow:
          0 0 20px #000,
          0 0 30px #000,
          0 0 40px #fff,
          0 0 50px #fff,
          0 0 60px #fff,
          0 0 70px #fff,
          0 0 80px #fff;
      }
    }   

.content {
    width: 100%;
    font-family: 'Palatino Linotype', 'Times New Roman', serif;
    color: white;
    background-color: black;
  }

.banner {
    width: 100%;
    height: 65vh;
    background-image: url('assets/download\ \(2\).jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

 

.title {
    font-size: 15vmin;
    animation: glow 1s ease-in-out infinite alternate;
    margin-bottom: 10rem;
    text-align: center;
    color: rgb(237, 238, 229);
    font-family: PlanewalkerBold, sans-serif;
    
  }
  
  .subtitle {
    color: rgb(237, 238, 229);
    min-width: 40%;
    text-align: center;
    font-size: 5vmin;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    box-shadow: 0px 0px 25px 10px black;
    padding: 0 2rem;
    font-family: PlanewalkerBold, sans-serif;
  }



 .canvas{
     display: flex;
     align-items: center;
     justify-content: center;
 }

 /*splash*/


.hand {
  display: block; 
  margin: 0px auto;
  padding-top: 100px;
  width: 500px;
}

.headline {
  text-transform: uppercase;
  padding-top: 30px;
  font-size: 50px;
  color: white;
  text-align: center;
}

.instruccions {
  color: white;
  text-align: center;
  font-size: 30px;
}

/*g canvas*/


#game {
  padding: 0;
  margin: auto;
  margin-top: 100px;
  display: block;
  background-image: url(images/Background\(1\).png);
}


/*score*/

.score {
  text-align: center;
  color: white
}

.scoreText {
  text-decoration: underline;
  font-size: 60px;
  letter-spacing: 5px;
}

.scoreNum {
  font-size: 60px;
  color: #fcad26;
}

.quote{
  font-size: 35px;
}

.author {
  text-transform: uppercase;
  font-size: 25px;
  }

  .authorText {
    font-size: 25px;
    }

/*btns*/
/*start*/

.start-btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: block; 
  position: relative; 
  background: #7d0404;
  font-size: 25px;
  font-weight: 300;
	color: white;
  text-transform: uppercase;
	letter-spacing: 2px;
  padding: 25px 80px; 
  margin: 0 auto; 
	box-shadow: 0 6px #efa424;
  border-radius: 20px;
}

.start-btn:hover {
	box-shadow: 0 4px #efa424;
	top: 2px;
}

.start-btn:active {
	box-shadow: 0 0 #efa424;
	top: 6px;
}

/*reset*/

.reset-btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  background: #7d0404;
  font-size: 25px;
  font-weight: 300;
	color: white;
  text-transform: uppercase;
	letter-spacing: 2px;
  padding: 25px 80px;
  margin: 0 auto;
	box-shadow: 0 6px #efa424;
  border-radius: 20px;
}

.reset-btn:hover {
	box-shadow: 0 4px #efa424;
	top: 2px;
}

.reset-btn:active {
	box-shadow: 0 0 #efa424;
	top: 6px;
}
